<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adgile Advertising | Targeted Advertising Solutions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <img src="img/Adgile Logo 11_18_PNG.webp" alt="Logo">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Markets</a>
        <a href="#">Team</a>
        <a href="#">Contact Us</a>
    </header>
    test
    <div class="container">
        <div id="home">
            <div>
                <h1>Welcome To Adgile Media Group!</h1>
                <h2>Under Construction - Launching Summer 2020!</h2>
            </div>
        </div>
        <div id="about"></div>
        <div id="markets"></div>
        <div id="team"></div>
        <div id="contact"></div>
    </div>
</body>
</html>