<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adgile Advertising | Targeted Advertising Solutions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <img src="img/Adgile Logo 11_18_PNG.webp" alt="Logo" id="logo">
        
            <a id="homeHd" href="#">Home</a>
        
        <a href="#" id="aboutHd">About Us</a>
        <a href="#" id="marketsHd">Markets</a>
        <a href="#" id="teamHd">Team</a>
        <a href="#" id="contactHd">Contact Us</a>
    </header>
    <div id="content">
        <div id="home">
            <div id="homeText">
                <h1>Welcome To Adgile Media Group!</h1>
                <h2>Under Construction - Launching Summer 2020!</h2>
                <button id="learn">Learn More</button>
            </div>
        </div>
        <div id="about">
            <img id="aboutImg" src="img/Disney Fleet.webp">
            <div id="aboutText">
                <h1>About <span style="color: #2baffa;">Us </span></h1>
                
                <p>Adgile Media Group is building the first ever nationwide truck side advertising network. With data at the center of all that we do, Adgile delivers advertisers the biggest bang for their advertising dollar, and state of the art audience insights to track just how big that bang is.</p>
                <br>
                <p>
                    By leveraging last mile delivery vehicles in the most populated cities in the United States, Adgile brings OOH advertisements closer to the audience than ever before. 
                </p>
            </div>
        </div>
        <br>
        <div id="markets" class="clearfix">
            <img id="marketImg" src="img/NYC Advertising Coverage.webp">
            <div id="marketText" class="marketBorder">
                <h1> Our 
                    
                    <span style="color: #2baffa;">
                    Markets
                    </span>

                </h1>
                <br>
                <p>Adgile is initially launching in NYC, Chicago and Los Angeles in the summer of 2020 and then plans to quickly expand to the top 20 domestic DMAs.</p>
                    <br>
                   <p> Given the size of the Adgile fleet in each city, our advertising partners receive significant exposure in all geographic areas. </p>
            </div>
        </div>
        <div id="team"></div>
        <div id="contact"></div>
    </div>
</body>
</html>