<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adgile Advertising | Targeted Advertising Solutions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <img src="img/Adgile Logo 11_18_PNG.webp" alt="Logo" id="logo">
        
            <a id="homeHd" href="#">Home</a> 
        
        <a href="#about" id="aboutHd">About Us</a>
        <a href="#markets" id="marketsHd">Markets</a>
        <a href="#team" id="teamHd">Team</a>
        <a href="#contact" id="contactHd">Contact Us</a>
    </header>
    <div id="content">
        <div id="home">
            <div id="homeText">
                <h1>Welcome To Adgile Media Group!</h1>
                <h2>Under Construction - Launching Summer 2020!</h2>
                <button id="learn"><a href="#about" id="learnBut">Learn More</a></button>
            </div>
        </div>
        <div id="about">
            <img id="aboutImg" src="img/Disney Fleet.webp">
            <div id="aboutText">
                <h1>About <span style="color: #2baffa;">Us </span></h1>
                
                <p>Adgile Media Group is building the first ever nationwide truck side advertising network. With data at the center of all that we do, Adgile delivers advertisers the biggest bang for their advertising dollar, and state of the art audience insights to track just how big that bang is.</p>
                <br>
                <p>
                    B leveraging last mile delivery vehicles in the most populated cities in the United States, Adgile brings OOH advertisements closer to the audience than ever before. 
                </p>
            </div>
        </div>
        <br>
        <div id="markets" class="clearfix">
            <img id="marketImg" src="img/NYC Advertising Coverage.webp">
            <div id="marketText" class="marketBorder">
                <h1> Our 
                    
                    <span style="color: #2baffa;">
                    Markets
                    </span>

                </h1>
                <br>
                <p>Adgile is initially launching in <span style="font-weight: bold;">NYC</span>, <span style="font-weight: bold;">Chicago</span> and <span style="font-weight: bold;">Los Angeles</span> in the summer of 2020 and then plans to quickly expand to the top 20 domestic DMAs.</p>
                    <br>
                   <p> Given the size of the Adgile fleet in each city, our advertising partners receive significant exposure in all geographic areas. </p>
            </div>
        </div>
        <div id="team">
            <div id="teamHeadline">
                <h1>Meet The <span style="color: #2baffa;">Team</span></h1>
            </div>
            <div class="row">
               
                <div id="teamCard">
                    <img src="img/mitchellgordon.webp">
                 <div id="cardText">
                    <a href="#mgordon" data-toggle="collapse" role="button"aria-expanded="false" aria-controls="collapseExample" id="cardA">
                    <h2>Mitchell Gordon</h2>
                    <h3 style="text-align: center;">CEO</h3>
                </a>
                </div>
                <div class="collapse" id="mgordon">
                    <div class="card card-body" style="text-align: center;">
                        Corporate executive, investor and investment banker for over 35 years. <br> Previously President and CFO, Cambridge Capital Acquisition Corporation (NASADAQ:CAMB), <br>

CFO, Interpool Inc. (NYSE:IPX),<br> Partner and Global Co-Head of the Transportation Investment Banking Group at Salomon Smith Barney.
                      </div>
                </div>
                </div>

                <div id="teamCard">
                    <img src="img/MS headshot.webp">
                    <div id="cardText" style="left: 0rem;">
                    <a href="#mstrahan" data-toggle="collapse" role="button"aria-expanded="false" aria-controls="collapseExample" id="cardA">
                    <h2>Marc Strachan</h2>
                    <h3 style="text-align: center;">CMO</h3>
                </a>
                </div>
                <div class="collapse" id="mstrahan">
                    <div class="card card-body" style="text-align: center;">
                        Proven, results driven, senior level marketing and advertising executive, with experience across
multiple categories of business. Chairman of ADCOLOR, inc. Previously Chief Client Office (CCO) at Publicis.Sapient and Director of Brand Marketing at Diageo.
                      </div>
                </div>
                </div>

                <div id="teamCard">
                    <img src="img/flan.webp">
                    <div id="cardText">
                    <a href="#flan" data-toggle="collapse" role="button"aria-expanded="false" aria-controls="collapseExample" id="cardA">
                    <h2>Max Flannery</h2>
                    <h5 style="text-align: center;">Co-Founder and President</h5>
                </a>
                </div>
                <div class="collapse" id="flan">
                    <div class="card card-body" style="text-align: center;">
                        Creative problem solver and passionate entrepreneur with prior experience in financial and strategic consulting. Max graduated from Miami University's Farmer School of Business with degrees in Finance and Accounting.
                      </div>
                </div>
                </div>

                <div id="teamCard">
                    <img src="img/tomshea.webp">
                    <div id="cardText" style="right: 0rem;">
                    <a href="#tshea" data-toggle="collapse" role="button"aria-expanded="false" aria-controls="collapseExample" id="cardA">
                    <h2>Tom Shea</h2>
                    <h5 style="text-align: center;">Co-Founder and COO</h5>
                </a>
                    </div>
                <div class="collapse" id="tshea">
                    <div class="card card-body" style="text-align: center;">
                        Detail-oriented tech wiz with past experience as a full stack developer and operation manager. Tom is currently enrolled at the University of Chicago's Booth School of Business. Tom holds a degree in Finance, Computer Science, & Chinese from Boston College's Carroll School of Management.
                      </div>
                </div>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="contact"><h1 id="contactHeadline">Contact <span style="color: #2baffa;">Us</span></h1>
            <img src="img/apple.webp" alt="" id="contactImage">
            
            <div id="contactForm">
                <form action="mailto:example@adgile.co">
                <input type="text" id="name" name="name" value="Name...">
                <input type="email" id="email" name="email" value="Email..."><br><br>
                <input type="text" id="subject" name="subject" value="Subject..." style="width: 100%;"><br><br>
                <input type="text" id="message" name="message" value="Enter a short message..." style="width: 100%; height: 6rem;"><br><br>
                <input type="submit" value="submit">
            </form>
            </div>
        </div>
    </div>
    <footer>
        ©2020 Adgile Media Group
        <p style="font-size: 7px;">Design by Josh Segel</p>
    </footer>
</body>
</html>