header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding-left: 7rem;
    padding-right: 7rem;
    z-index: 1;
}

/* .container{
    margin-top: 100px;
} */

#homeHd, #aboutHd, #marketsHd, #teamHd, #contactHd{ 
    color: #2baffa;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration:none;
    position: relative;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
}

#homeHd:hover, #aboutHd:hover, #marketsHd:hover, #teamHd:hover, #contactHd:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    color: #2baffa;
}

 #homeHd::before, #aboutHd::before, #marketsHd::before, #teamHd::before, #contactHd::before{
    position: absolute;
	 top: -20px; 
	left: -7px;
	box-sizing: content-box;
	padding: 0 5px;
	width: 100%;
	height: 68px;
    border-right: 2px solid #2baffa ;
    border-left: 2px solid #2baffa ;
    border-top: 2px solid #2baffa ;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);  
}

#homeHd:hover::before, #aboutHd:hover::before, #marketsHd:hover::before, #teamHd:hover::before, #contactHd:hover::before    {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#home{
    position: relative;
    background-image: url(../img/background.jpg);
    background-size: cover;
    width: 100%;
    height: 58rem;
    min-width: 1000px;
}
/* .container{
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 5em;
    width: 100%;
    padding: 0em;
} */

#content{
    margin-top: 4.5rem;
}

#homeText{
    position: absolute;
    color: white;
    top: 32rem;
    right: 20rem;
}

#aboutImg{
    float: left;
}

#aboutText{
position: relative;
padding-left: 1rem;
top: 11rem;
width: 23rem;
float: left;
border-left: 2px #2baffa solid;
border-right: 2px #2baffa solid;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#about{
    /* border-bottom: solid 2px #2baffa; */
    /* border-bottom-style: groove; */
    height: 40rem;
}
#markets{
    min-width: 1000px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(43,175,250,1) 100%);
}

#marketImg{
    float: right;
    margin-right: 5rem;
}

#marketText{
    position: relative;
    left: 6rem;
    font-size: 1.1rem;
    top: 4rem;
    width: 23rem;
    background-color: white;
    padding-left: 1rem;
    padding-right: .3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-left: 2px #2baffa solid;
border-right: 2px #2baffa solid;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#team{
    min-width: 1000px;
    height: 50rem;
    background: rgb(43,175,250);
    background: linear-gradient(180deg, rgba(43,175,250,1) 0%, rgba(255,255,255,1) 80%);
}

#teamHeadline{
    position: relative;
    top: 5rem;
    left: 38%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: fit-content;
    background-color: #FFFFFC;
    border-radius: 2rem;
    border-top: #2baffa  outset 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#teamCard{
    position: relative;
    top: 8rem;
    margin: 1rem 1rem 1rem 1rem;
    left: 7rem;
    width: fit-content;
    /* background-color: lawngreen; */
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: content-box;
    /* border-top: #2baffa solid 2px; */
    /* border-right: #2baffa solid 2px; */
    /* border-left: #2baffa solid 2px; */
    /* background-color: #FFFFFC; */
}

#mgordon, #mstrahan, #flan, #tshea{
    width: 236px;
}

#cardText{
    position: relative;
    top: 1rem;
    right: 1rem;
    padding: 1rem .5rem 5px .5rem;
    background-color: #2baffa;
    /* color: #FFFFFC; */
    /* border-radius: 2rem; */
    text-align: center;
    border: solid 2px #FFFFFC;
}

#cardA{
    color: #FFFFFC;
}

#cardA:hover{
    text-decoration: none;
    color: #2baffa;
}

#cardText:hover{
    background-color: #FFFFFC;
    border: #2baffa 2px solid;
    /* border-radius: 2rem; */
}

#contactImage{
    float: left;
}

#contactForm{
    float: left;
    background-color: #2baffa;
    padding: 2rem;
    position: relative;
    top: 12rem;
}

#contactHeadline{
    position: relative;
    top: 3rem;
    left: 39%;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    width: fit-content;
    background-color: #FFFFFC;
    border-radius: 2rem;
    border-left: solid 2px #2baffa;
    border-right: solid 2px #2baffa;
    border-top: #2baffa solid 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}
footer{
    position: fixed;
    bottom: 0rem;
    width: 100%;
    height: 2rem;
    background-color: #777;
    opacity: .5;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

#learnBut{
    text-decoration: none;
    color: #FFFFFC;
}

button{
    background-color: #2baffa;
    border: none;
    color: #FFFFFC;
    border-radius: 3px;
    padding: 1rem;
    font-size: 25px;
}

/* Media Queries for Mobile */

/* First break @ 1480px wide moves about text to next row */

@media only screen and (max-width: 1480px){
    #aboutText{
        /* float: none; */
        /* width: 16rem; */
    }
    #about, #markets{
        /* margin-bottom: 5rem; */
        /* display: flex; */
    }
    #aboutImg{
        width: 70%;
        height: auto;
    }
}

/* this fixes issue with team and main background up until 945 new break */
 @media only screen and (max-width: 1435px){
     #team{
         height: 65rem;
     }
        #teamCard{
            margin-right: 10rem;
        }
    }
    /* Markets first break 1380 */
   @media only screen and (max-width: 1380px){
       #marketImg{
           width: 50%;
           height: auto;

       }
   } 

/* second break for about 1232 */

@media only screen and (max-width: 1232px){
    #aboutImg{
        width: 60%;
        height: auto;
    }
    /* second market break 1175 */
@media only screen and (max-width: 1175px){
    #marketImg{
        width: 40%;
        height: auto;
    }
    #markets{
        height: 34rem;
    }
}

/* Home div text needs a tweak at 1075 */
@media only screen and (max-width: 1075px){
    #homeText{
        right: 15rem;
    }
}

    /* third break 1000 
        fix home text in this breakpoint too
    */
    @media only screen and (max-width: 1000px){
        #aboutImg{
            width: 100%;
            height: auto;
        }
        #aboutText{
            width: 80%;
            left: 6rem;
        }
        #about{
            height: 70rem;
        }
    }

    /* hometext second break 968 */
@media only screen and (max-width: 968px){
    #homeText{
        top: 16rem;
        right: 10rem;
        margin-left: 10%;
        margin-right: 10%;
        width: 50%;
    }
    #home{
        height: 40rem;
    }
}

/* header starts messing up at 996 */
    
   /* team breaks to single file at 938 */

   /* clear market image at 912 */

   @media only screen and (max-width: 912px){
       #marketImg{
           display: none;
       }
       #marketText{
           width: 35rem;
       }
       #homeText{
           display: none;
       }
       #aboutImg{
           /* width: 50%; */
       }
   }
}