header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding-left: 7rem;
    padding-right: 7rem;
    z-index: 1;
}

.container{
    margin-top: 100px;
}

#homeHd, #aboutHd{ 
    color: green;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration:none;
    position: relative;
    margin: 20px;
   
}

#homeHd:hover, #aboutHd:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    color: blue;
}

 #homeHd::before, #aboutHd::before{
    position: absolute;
	 top: -2px; 
	left: -7px;
	box-sizing: content-box;
	padding: 0 5px;
	width: 100%;
	height: 100%;
	border: 2px solid blue ;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);  
}

#homeHd:hover::before, #aboutHd:hover::before{
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#home{
    position: relative;
    background-image: url(../img/background.jpg);
    background-size: cover;
    width: 100%;
    height: 58rem;
}
/* .container{
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 5em;
    width: 100%;
    padding: 0em;
} */

#content{
    margin-top: 4.5rem;
}

#homeText{
    position: absolute;
    color: white;
    top: 20rem;
    right: 2rem;
}

#aboutImg{
    float: left;
}

#aboutText{
position: relative;
padding-left: 1rem;
top: 11rem;
width: 23rem;
float: left;
border-left: 2px #2baffa solid;
border-right: 2px #2baffa solid;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#about{
    /* border-bottom: solid 2px #2baffa; */
    /* border-bottom-style: groove; */
    height: 40rem;
}
#markets{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(43,175,250,1) 100%);
}

#marketImg{
    float: right;
    margin-right: 5rem;
}

#marketText{
    position: relative;
    left: 6rem;
    font-size: 1.1rem;
    top: 4rem;
    width: 23rem;
    background-color: white;
    padding-left: 1rem;
    padding-right: .3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-left: 2px #2baffa solid;
border-right: 2px #2baffa solid;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#team{
    height: 50rem;
    background: rgb(43,175,250);
    background: linear-gradient(180deg, rgba(43,175,250,1) 0%, rgba(255,255,255,1) 80%);
}

#teamHeadline{
    position: relative;
    top: 5rem;
    left: 38%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: fit-content;
    background-color: #FFFFFC;
    border-radius: 2rem;
    border-top: #2baffa  outset 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
}

#teamCard{
    position: relative;
    top: 8rem;
    margin: 1rem;
    left: 7rem;
    width: fit-content;
}